
.container{
    background-color: rgb(192, 203, 212);
    width: 400px;
    height: fit-content;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}
.form{
    background-color: aliceblue;
    padding: 20px 0;
    border-radius: 15px;
}
.form .add{
    color: aliceblue;
    background-color: darkorange;
    padding: 10px 20px;
    border-radius: 10px;

}
.form .input{
    padding: 10px 20px;
}

.style{
    text-decoration-line: line-through;
}